body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
    text-align: left;
}

.highlight {
    background-color: #ffff00;
    color: black;
    transition: background-color 0.5s;
}

a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

b {
    color: white;
}