body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.form-title {
    text-decoration: underline;
    color: blueviolet;
    margin-bottom: 20px;
}

form {
    background-color: rgb(117, 97, 198);
    padding: 20px;
    color: white;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

form label {
    display: inline-block;
    width: 150px;
}

textarea {
    width: 250px;
    height: 60px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    padding: 5px;
    width: 250px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

th, td {
    text-align: center;
    padding: 10px;
}

.buttons {
    margin-top: 20px;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover, .reset-btn:hover {
    opacity: 0.8;
}
